.message{
  height: fit-content;
  width: 100%;
  margin-bottom: 2em;
  background-color: #29292b;
  padding: 1em;
}
.message-header{
  height: 30%;
  color: white;
  font-weight: bold;
}
.message-embed{
  border: 2px solid #454547;
  border-radius: 1em;
  margin-left: 4em;
  padding: 0.5em;
  width: 50%;
  margin-top: 2em;
}
.border-red{
  border: 2px solid rgb(168, 52, 52);
}
.border-grey{
  border: 2px solid #b1b1b1;
}
.message-header img{
  height: 45px;
  border-radius: 100%;
  float:left;
  margin-right: 1em;
  margin-top: -3px;
}
.message-embed img{
  height: 20px;
  border-radius: 100%;
}
html, body{
  background-color: #19191b;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}