<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "/imports/imports.html" %}
    <title>Bot Dashboard</title>
  </head>
  <body>
    {% include "/imports/nav.html" %}
   
     <div class="content">
      <h1>Confessions</h1>
          <div class = "contentbox ">
              <div class="buttons">
                <a class="mybtn" href="/modDashboard/loadNewConfession">Load new random confession</a><br>
              </div>

                <table>
                  <thead>
                    <tr>
                      <th>Checking Confession</th>
                      <th>Status</th>
                      <th>Action(s)</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for conf in checkingConfessions %}
                    <tr>
                      <td>{{conf.confession}}</td>
                      <td>{{conf.status}}</td>
                      <td><a class="mybtnsmall" href="/api/checkConfession/{{conf._id}}">Check Reactions/Post</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <th>Waiting Confession</th>
                      <th>Status</th>
                      <th>Action(s)</th>
                    </tr>
                    {% for conf in waitingConfessions %}
                    <tr>
                      <td>{{conf.confession}}</td>
                      <td>{{conf.status}}</td>
                      <td>
                        <a class="mybtnsmall" href="/api/queueConfession/{{conf._id}}">Load</a>
                        <a class="mybtnsmall" href="/api/deleteConfession/{{conf._id}}">Delete</a>
                      </td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <th>Sent Confession</th>
                      <th>Status</th>
                      <th>Action(s)</th>
                    </tr>
                    {% for conf in sentConfessions %}
                    <tr>
                      <td>{{conf.confession}}</td>
                      <td>{{conf.status}}</td>
                      <td>
                        None
                      </td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <th>Removed Confession</th>
                      <th>Status</th>
                      <th>Action(s)</th>
                    </tr>
                    {% for conf in removedConfessions %}
                    <tr>
                      <td>{{conf.confession}}</td>
                      <td>{{conf.status}}</td>
                      <td>
                        <a class="mybtnsmall" href="/api/restoreConfession/{{conf._id}}">Restore</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

        </div>
        
     </div>



     {% include "/imports/importsjs.html" %}
  </body>
</html>
