<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "/imports/imports.html" %}

    <title>Bot Dashboard</title>
  </head>
  <body>
    <div class="btn">
        <span class="fas fa-bars"></span>
     </div>
     <nav class="sidebar">
        <div class="text">
           TI Bot - Welcome
        </div>
        <ul class="main_side">
           <li class="active"><a href="/modDashboard">Dashboard</a></li>
        </ul>
     </nav>
     <div class="content">
        <div class="header">
           Main content goes here
        </div>
        
     </div>

     {% include "/imports/importsjs.html" %}

  </body>
  
</html>
