<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "/imports/imports.html" %}
    <title>Bot Dashboard</title>
  </head>
  <body>
    {% include "/imports/nav.html" %}
   
     <div class="content">
      <div class="avatar">
        <img class="userAvatar" src="{{userDiscordInfo.avatar}}" alt="avatar" />
        <h2>{{userDiscordInfo.name}}#{{userDiscordInfo.discriminator}}</h2>
      </div>
      <div class="contentbox userInfoContainer">
        <div>
          <h3>Warns</h3>
          <table>
            <thead>
              <tr>
                <th>Warn ID</th>
                <th>Warned By</th>
                <th>Reason</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for warn in userServerInfo.warns %}
              <tr>
                <td>{{warn.id}}</td>
                <td>{{warn.warnedBy.name}}</td>
                <td>{{warn.reason}}</td>
                <td title="{{warn.date}}">{{warn.date[:10]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div>
          <h3>Modmail</h3>
          {% if modmailData %}
          <h2>Modmail <b>OPEN</b></h2>
          <a href="{{modmailData.link}}" class="mybtn">Discord channel link</a>
          {% else %}
          <h2>Modmail <b>CLOSED</b></h2>
          <a href="/api/openModmail/{{user.id}}" class="mybtn">Open modmail channel </a>
          {% endif %}
          <h3>Transcripts</h3>
          <table>
            <thead>
              <tr>
                <th>Transcript ID</th>
                <th>Transcript Link</th>
              </tr>
            </thead>
            <tbody>
              {% if transcriptData %}
              {% for transcript in transcriptData %}
              <tr>
                <td>{{transcript._id}}</td>
                <td><a class="mybtnsmall" href="/transcript/{{transcript._id}}">Transcript</a></td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
          



        </div>
        <div>

        </div>

      </div>

        
     </div>



     {% include "/imports/importsjs.html" %}
  </body>
</html>
